.pageContainer {
  min-height: calc(100vh - 55px);
  background-color: var(--background-color-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.mainHeader {
  padding: 20px;
  color: var(--text-color-dark);
  font-size: var(--font-size-2xl);
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 900px;
}

.section {
  margin-bottom: 30px;
}

.sectionHeader {
  font-size: var(--font-size-xl);
  font-weight: bold;
  margin-bottom: 10px;
}

.sectionText {
  font-size: var(--font-size-base);
  line-height: 1.5;
  color: var(--text-color-primary);
  margin-bottom: 20px;
}

.memberList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.memberItem {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.memberName {
  font-weight: bold;
  font-size: var(--font-size-md);
  margin-bottom: 5px;
}

.memberRole {
  font-size: var(--font-size-sm);
  color: var(--text-color-muted);
}

.contactInfo {
  font-size: var(--font-size-base);
  margin-top: 10px;
}

.infoResourcesWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.section {
  margin-bottom: 30px;
  flex: 1;
  margin-right: 15px;
}

.infoResourcesWrapper>.section:last-child {
  margin-right: 0;
}