.search {
    position: relative;
    margin-bottom: 10px;
}

.input {
    padding: 1em;
    width: 100%;
    height: 38px;
    display: inline-block;
    outline: none;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.input::placeholder {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.scrollableContainer {
    overflow-y: auto;
    max-height: 90vh;
    scrollbar-width: thin;
}

.columnItem {
    padding: 10px;
    margin: 5px 0;
    background-color: #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.columnItem:hover {
    background-color: #ccc;
}

.scrollableContainer::-webkit-scrollbar {
    width: 8px;
}

.scrollableContainer::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}

.scrollableContainer::-webkit-scrollbar-track {
    background-color: #f4f4f4;
}