@import '../../../variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link {
  text-decoration: none;
  color: #fff;
}

.listItem {
  list-style: none;
  border-radius: 5px;
  transition: background-color 0.25s ease;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: var(--background-nav-and-headers-background-color-light);
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  white-space: nowrap;
  height: 55px !important;
  max-height: 55px !important;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.navLeft {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navlinks {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.menu {
  display: flex;
  gap: 0.30em;
  font-size: 16px;
  z-index: 11;
  margin-left: auto;
}

.menu div {
  display: flex;
  width: 100%;
}

.menu a {
  display: block;
  width: 100%;
  padding: 5px 14px;
}

.menu li:hover {
  background-color: var(--background-nav-background-color-hover-light);
}

input[type=checkbox] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
  cursor: pointer;
}

.hamburger,
label[for="menuToggle"] {
  cursor: pointer;
  margin-left: auto;
}

.animate {
  transform: translateY(0);
  transition: transform 0.25s ease-in-out;
}

.darkerContainer {
  font-size: 18px;
  display: flex;
  gap: 0;
  background-color: var(--background-nav-tool-background-color-light);
  margin-left: 1em;
  border-radius: 5px;
  overflow: hidden;
}

.darkerItem {
  flex: 1;
  padding: 10px;
  white-space: nowrap;
  transition: background-color 0.25s ease;
}

.darkerItem:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.darkerItem:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.darkerItem:hover {
  background-color: var(--background-nav-tool-background-color-hover-light);
}

.fadeEnter {
  opacity: 0;
}

.fadeEnterActive {
  opacity: 1;
  transition: opacity 300ms;
}

.fadeExit {
  opacity: 1;
}

.fadeExitActive {
  opacity: 0;
  transition: opacity 300ms;
}

.desktopLabel {
  display: inline-block;
}

.mobileIcon {
  display: none;
  font-size: 1.2em;
}

.darkerItem.activeDarker,
.darkerItem.activeDarker:hover {
  background-color: var(--background-nav-tool-background-color-active-light);
  cursor: default;
}

@media (max-width: 1000px) {

  .listItem {
    border-radius: 0px;
  }

  .darkerItem {
    padding: 5px 5px;
  }

  .menu {
    display: block;
    position: absolute;
    background-color: var(--background-nav-and-headers-background-color-light);
    right: 0;
    text-align: center;
    padding: 16px 0;
    transform: translateY(calc(-100% - 50px));
    top: 50px;
    width: 40%;
    max-width: 200px;
  }

  .animate {
    transform: translateY(0);
    transition: transform 0.25s ease-in-out;
  }

  .hamburger {
    display: block;
  }

  .desktopLabel {
    display: none;
  }

  .mobileIcon {
    display: inline-block;
  }
}