.container {
    background-color: #333;
    color: #fff;
    position: fixed;
    right: 0;
    top: 55px; /* Start below the navbar */
    height: calc(100% - 55px); /* Extend to the bottom, accounting for the navbar height */
    min-width: 250px;
    width: 20%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    z-index: 12;
    flex-direction: column;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
}


.open {
    transform: translateX(0);
}

.closed {
    transform: translateX(100%);
}

.uploadButtonContainer {
    margin-bottom: 20px;
}

.columnSelector, .exportButton {
    margin-bottom: 20px;
}

.exportButton button, .uploadButtonContainer button {
    cursor: pointer;
    background-color: #444;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
}

.toggleButton {
    position: fixed;
    left: -30px;
    top: 0px;
    width: 30px;
    height: 8%;
    background-color: #c22535; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0 0 0 15px;
}


.toggleButton:hover {
    background-color: #5f0d19;
}
