.resultingSection {
  flex: 1;
  max-width: 30%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-3);
  padding: 5px;
  border-radius: 8px;
  height: 90vh;
  position: relative;
}

.scrollableContainer {
  overflow-y: auto;
  max-height: calc(100% - 120px);
  position: relative;
  padding-right: 10px;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

.scrollableContainer::-webkit-scrollbar {
  width: 8px;
}

.scrollableContainer::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 10px;
}

.scrollableContainer::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
}

.undoContainer {
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
  font-size: var(--font-size-base);
  cursor: pointer;
  z-index: 2;
  transition: background-color 0.3s ease-in-out;
}

.undoContainer:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.bottomActions {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.uploadMappingsContainer {
  display: flex;
  width: 100%;
  height: 54px;
  border-radius: 8px;
  overflow: hidden;
}

.uploadMappingsButton {
  flex: 1;
  background-image: var(--button-gradient);
  border: none;
  color: var(--text-color-on-darkbg);
  font-size: var(--font-size-base);
  font-weight: 600;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
}

.uploadMappingsButton:hover {
  background-position: 100% 0;
  background-color: var(--button-color-hover);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.uploadArrowButton {
  width: 64px;
  background-color: #27ae60;
  color: var(--text-color-on-darkbg);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.uploadArrowButton:hover {
  background-color: #229a54;
}

.processMappingsButton {
  min-height: 54px;
  width: 100%;
  user-select: none;
  font-size: var(--font-size-base);
  font-weight: 600;
  color: var(--text-color-on-darkbg);
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 8px;
  background-size: 300% 300%;
  background-image: var(--button-gradient);
  box-shadow: 0 5px 15px rgba(8, 36, 44, 0.4);
  position: relative;
  overflow: hidden;
  transition: background-position 0.5s ease-in-out;
}

.processMappingsButton::before,
.processMappingsButton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  transform: rotate(40deg);
  border-radius: 8px;
  transition: left 0s;
}

.processMappingsButton::before {
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.1));
  transition-delay: 0.1s;
}

.processMappingsButton::after {
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0));
  transition-delay: 0.3s;
}

.processMappingsButton:hover::before,
.processMappingsButton:hover::after {
  left: 100%;
  transition: left 0.7s ease-in-out;
}

.processMappingsButton:hover {
  background-position: 100% 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.processMappingsButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.loader {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top: 3px solid #fff;
  border-radius: 50%;
  width: 1.2em;
  height: 1.2em;
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .resultingSection {
    max-width: 100%;
    max-height: 30vh;
    overflow-y: hidden;
  }
}

.searchRow {
  position: sticky;
  top: 0;
  z-index: 3;
  background: var(--background-color-3);
}

.searchInput {
  box-sizing: border-box;
  width: 100%;
  height: 38px;
  padding: 1em;
  outline: none;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  background-color: var(--background-color-card);
  color: var(--text-color-primary);
  font-size: var(--font-size-base);

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}