@import '../../../variables.css';

.autocompleteWrapper {
  position: relative;
  display: flex;
  flex: 1;
}

.autocompleteList {
  background-color: var(--background-color-card);
  border: 1px solid var(--border-color);
  z-index: 100;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: auto;
}

.autocompleteListItem {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}