.chartFlexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1vh;
}

.tablesContainer {
    display: flex;
    max-width: 100%;
    justify-content: space-evenly;
    margin: auto;
}

.entrySearchWrapper {
    min-width: 50%;
    max-height: 60vh ;
    overflow-y: hidden;
    padding: 5px;
}
