.dropContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 55px);
    background-color: #666666;
    transition: background-color 0.2s ease;
    padding: 20px;
    width: 100%;
}

.statisticsContainer {
    flex-grow: 1;
    transition: margin-right 0.3s ease;
}

.toolTrayContainer {
    width: 20%;
    transition: transform 0.3s ease;
}


.statisticsEnter {
    transform: translateX(-100%);
    opacity: 0;
}

.statisticsEnterActive {
    transform: translateX(0);
    opacity: 1;
    transition: transform 500ms cubic-bezier(0.4, 0.0, 0.2, 1), opacity 500ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.statisticsExit {
    transform: translateX(0);
    opacity: 1;
}

.statisticsExitActive {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 500ms cubic-bezier(0.4, 0.0, 0.2, 1), opacity 500ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.toolTrayEnter {
    transform: translateX(100%);
    opacity: 0;
}

.toolTrayEnterActive {
    transform: translateX(0);
    opacity: 1;
    transition: transform 500ms cubic-bezier(0.4, 0.0, 0.2, 1), opacity 500ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.toolTrayExit {
    transform: translateX(0);
    opacity: 1;
}

.toolTrayExitActive {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 500ms cubic-bezier(0.4, 0.0, 0.2, 1), opacity 500ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
