.resTable {
    width: 100%;
    display: grid;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #ccc #f5f5f5;
    background-color: #ffffff;
    color: #333333;
    border-collapse: separate;
    border-spacing: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #dee2e6;
}

.resThead,
.resTbody,
.resTr {
    display: contents;
}

.resTh {
    position: relative;
    font-size: 16px;
    background-color: #f8f9fa;
    padding: 10px;
    color: #495057;
}

.resTable .resTh,
.resTable .resTd {
    text-align: left;
    min-width: 100px;
    padding: 10px;
    border-bottom: 1px solid #e9ecef;
}

.resSpan {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}

.resTable .resTr .resTd {
    border-top: 1px solid #dee2e6;
}

.resizeHandle {
    display: block;
    position: absolute;
    cursor: col-resize;
    width: 7px;
    right: 0;
    top: 0;
    z-index: 2;
    border-right: 2px solid transparent;
}

.resizeHandle:hover {
    border-color: #adb5bd;
}

.resizeHandle.active {
    border-color: #6c757d;
}

.resTable::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.resTable::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.resTable::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

.selectedEntry {
    background-color: #e9ecef;
    transition: background-color 0.3s ease;
}

.resTh,
.resTd {
    display: flex;
    align-items: center;
    min-height: 40px;
    max-height: 60px;
}

.resTh>span,
.resTd>span {
    padding: 0 10px;
}

.resTr {
    height: auto;
    max-height: 60px;
}

.resTable .resTbody .fillerRow .resTd {
    background-color: #f7f7f7;
    color: #ccc;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}