@import '../../variables.css';

.container {
  height: calc(100vh - 55px);
  width: 100%;
  position: relative;
}

.fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

.fadeOut {
  animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.error {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px 20px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  user-select: none;
  z-index: 1100;
}

.noNodes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--translucent-background-color);
  color: var(--text-color-on-darkbg-light);
  padding: 20px 40px;
  border-radius: 8px;
  font-size: 1.2em;
  user-select: none;
  text-align: center;
}

.toast {
  /*top: 55px;*/
  background-color: var(--translucent-background-color) !important;
  color: #fff !important;
  min-height: 40px !important;
  border-radius: 8px !important;
  box-shadow: none !important;
  pointer-events: auto;
}

.toastContainer {
  position: fixed;
  top: 65px;
  z-index: 9 !important;
  pointer-events: none;
}