

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 10px;
}

.button {
    padding: 10px 20px;
    font-size: 1rem;
    color: var(--text-color-on-darkbg-light);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    max-width: 200px;
    height: 55px;
    font-weight: 600;
    margin: 20px;
    background-size: 300% 100%;
    background-image: var(--button-gradient-light);
    box-shadow: var(--button-color-shadow-light);
}

.button:hover {
    background-position: 100% 0;
    background-color: var(----button-color-hover-light);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}